{% load i18n sizeformat parse_date %}
{% load url from future %}

<div class="info detail">
	<hr class="header_rule">
	<dl class="dl-horizontal">
		<dt>{% trans "Name" %}</dt>
		<dd>{{ scinstance.name|default:_("-") }}</dd>

		<dt>{% trans "Description" %}</dt>
		<dd>{{ scinstance.description|default:_("-") }}</dd>

		<dt>{% trans "ID" %}</dt>
		<dd>{{ scinstance.id }} </dd>
		
		<dt>{% trans "Provider PTG" %}</dt>
		<dd>{{ scinstance.provider_ptg_id }} </dd>

		<!--<dt>{% trans "Consumer PTG" %}</dt>
		<dd>{{ scinstance.consumer_ptg_id }} </dd>-->

		<dt>{% trans "Management PTG" %}</dt>
		<dd>{{ scinstance.management_ptg_id }} </dd>

		<dt>{% trans "Service Chain Spec" %}</dt>
		<dd>{{ scinstance.servicechain_specs}} </dd>

		<dt>{% trans "Classifier" %}</dt>
		<dd>{{ scinstance.classifier_id}} </dd>

		<dt>{% trans "Config parameter values" %}</dt>
		<dd>{{ scinstance.config_param_values}} </dd>		

		<dt>{% trans "Project ID" %}</dt>
		<dd>{{ scinstance.tenant_id}} </dd>	
	</dl>
</div>
     
